/* MAIN */
.typewrite{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}
.copyright{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

/* RES */
body {
    margin:0;
    -webkit-font-smoothing: antialiased;
    font-size: 0.8rem;
}
main{
    width: 800px;
    margin: 50px auto;
}
header{
    text-align: center;
    font-family: monospace, Arial;
}
.headers{
    font-family: monospace, Arial;
    font-weight: lighter;
    font-size: 12px;
}
.headers h1{
    font-size: 12px;
}
.left {
    float: left;
    font-weight: bold;
}
.middle {
    display: inline-block;
    vertical-align: top;
    font-weight: lighter;
}
.right {
    float: right;
    font-weight: bold;
}
.indent{
    margin: 15px 0 15px 35px;
    max-width: 800px;
    line-height: 1.2;
}
.indent ul{
    margin: 15px 0 23px 0;
    text-align: justify;
}
.indent li{
    margin-bottom: 5px;
}

