/* MAIN */
.typewrite{
    font-family: 'Source Code Pro', monospace;
    font-size: 30px;
}
.copyright{
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
}

/* RES */
body {
    margin:0;
    -webkit-font-smoothing: antialiased;
    font-size: 0.8rem;
}
main{
    width: 800px;
    margin: 50px auto;
}
header{
    text-align: center;
}
.left {
    float: left;
    font-family: monospace, Arial;
    font-weight: bold;
}
.middle {
    display: inline-block;
    vertical-align: top;
    font-family: monospace, Arial;
    font-weight: lighter;
}
.right {
    float: right;
    font-family: monospace, Arial;
    font-weight: bold;
}
.indent{

}

